
a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: #ede8e4;
}

a:hover {
    color: #c0c0c0;
    /*font-size: 1.1em;*/
}


img {
    /*position: fixed;*/
    width: 100%;
    /*opacity: 0.1;*/
    /*margin-left: -7px;*/
    /*margin-top: -120px;*/
}

body {

    /*background: url("imgs/BallX3b.jpg");*/
    background-color: #ede8e4;
    /*background-size: 100%;*/
    max-width: 100%;
    overflow-x: hidden;
}

.headerBtn {
    font-family: Verdana;
    font-size: 20px;

}

.navBar {
    display: block;
    border: 2px solid white;
    border-radius: 6px;
    float: right;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;

}

.header {
    background-color: #825f40;
    opacity: 0.85;
    height: 103px;
    width: 100%;
    margin-left: -8px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#mainTitle {
    float: left;
    margin-left: 80px;
    margin-top: -20px;
    color: #ede8e4;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;

}

.ballPic {
    position: fixed;
    width: 100%;
    opacity: 0.1;
    margin-left: -7px;
    z-index: -1;
}

.welcomeDiv {
    color: gray;
    text-align: center;
    font-family: Verdana;
    font-size: 46px;
    height: 120px;
    width: 100%;
    /*border: 2px solid red;*/
    margin-top: 110px;
}

h3 {
    color: white;
}

.divOne {
    background-color: black;
    height: 600px;
    width: 100%;
    margin-top: 220px;
    border: 2px solid blue;
    border-radius: 10px;
    opacity: 0.5;

}

.blogOne {
    border: 3px solid #c0c0c0;
    height: 400px;
    width: 500px;
    float: left;
    margin-top: 93px;
    margin-left: 70px;
}

.blogTwo {
    border: 3px solid #c0c0c0;
    height: 400px;
    width: 500px;
    float: right;
    margin-top: 93px;
    margin-right: 60px;
}

.divTwo {
    height: 600px;
    width: 100%;
    /*border: 2px solid black;*/
    margin-top: 50px;
}

.projectOne {
    border: 3px solid #c0c0c0;
    height: 400px;
    width: 500px;
    float: left;
    margin-top: 93px;
    margin-left: 70px;
}

.projectTwo {
    border: 3px solid #c0c0c0;
    height: 400px;
    width: 500px;
    float: right;
    margin-top: 93px;
    margin-right: 60px;
}

.footer {
    position: absolute;
    /*height: 60px;*/
    width: 100%;
    border: 2px solid black;
    /*border-radius: 2px;*/
    margin-top: 150px;
    margin-left: -8px;
    background-color: black;
    opacity: 0.4;
    text-align: center;
    color: white;
    font-family: Verdana;
}
